<?xml version="1.0"?>

<model>
  <name>OnRobot SG-a</name>
  <version>1.0</version>
  <sdf version="1.6">sg_a.urdf</sdf>

  <author>
    <name>Kenneth Bogert</name>
    <email>kbogert@unca.edu</email>
  </author>

  <description>
    OnRobot SG-a soft gripper urdf model, using meshes converted from OnRobot's website
  </description>
</model>
